<h4>new post here!!</h4>

<form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div>
        <label for="screenname">Screen Name</label>
        <input type="text" required [(ngModel)]="model.screenname" ngControl="screenname">
    </div>

    <div>
        <label for="picurl">Picture URL</label>
        <input type="text" required [(ngModel)]="model.picurl" ngControl="picurl">
    </div>

    <div>
        <label for="caption">Caption</label>
        <input type="text" required [(ngModel)]="model.caption" ngControl="caption">
    </div>

    <div>
        <label for="feature1">Feature 1</label>
        <input type="text" required [(ngModel)]="model.feature1" ngControl="feature1">
    </div>

    <div>
        <label for="feature2">Feature 2</label>
        <input type="text" required [(ngModel)]="model.feature2" ngControl="feature2">
    </div>

    <div>
        <label for="feature3">Feature 3</label>
        <input type="text" required [(ngModel)]="model.feature3" ngControl="feature3">
    </div>
    
    <button type="submit" [disabled]="!postForm.form.valid">Submit</button>
    <button [routerLink]="['PostList']">Cancel</button>

</form>