<h4>Create a new post</h4>

<form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="form-group">
        <label for="screenname">Screen Name</label>
        <input class="form-control" type="text" required [(ngModel)]="model.screenname" ngControl="screenname" #screenname="ngForm">
        <!--<div [hidden]="screenname.valid" class="alert alert-danger">
            Screen Name is required
        </div>-->
    </div>

    <div class="form-group">
        <label for="pic">Picture</label>
        <!--<input class="form-control" type="text" required [(ngModel)]="model.picurl" ngControl="picurl" #picurl="ngForm">-->
        <input class="form-control" type="file" (change)="filePicked($event)" ngControl="pic" #pic="ngForm">
        <div [hidden]="temporaryMissingFile" class="alert alert-danger">
            Picture is required
        </div>
    </div>

    <div class="form-group">
        <label for="caption">Caption</label>
        <input class="form-control" type="text" required [(ngModel)]="model.caption" ngControl="caption" #caption="ngForm">
        <!--<div [hidden]="caption.valid" class="alert alert-danger">
            Caption is required
        </div>-->
    </div>

    <div class="form-group">
        <label for="feature1">Feature 1</label>
        <input class="form-control" type="text" required [(ngModel)]="model.feature1" ngControl="feature1" #feature1="ngForm">
        <!--<div [hidden]="feature1.valid" class="alert alert-danger">
            Feature is required
        </div>-->
    </div>

    <div class="form-group">
        <label for="feature2">Feature 2</label>
        <input class="form-control" type="text" required [(ngModel)]="model.feature2" ngControl="feature2" #feature2="ngForm">
        <!--<div [hidden]="feature2.valid" class="alert alert-danger">
            Feature is required
        </div>-->
    </div>

    <div class="form-group">
        <label for="feature3">Feature 3</label>
        <input class="form-control" type="text" required [(ngModel)]="model.feature3" ngControl="feature3" #feature3="ngForm">
        <!--<div [hidden]="feature3.valid" class="alert alert-danger">
            Feature is required
        </div>-->
    </div>

    <button class="btn btn-default" type="submit" [disabled]="!postForm.form.valid">Submit</button>
    <button class="btn btn-default" [routerLink]="['PostList']">Cancel</button>

</form>