<h4>Create a new post</h4>

<form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <div class="form-group">
        <label for="screenname">Screen Name</label>
        <input class="form-control" type="text" required [(ngModel)]="model.screenname" ngControl="screenname" #screenname="ngForm">
        <!--<div [hidden]="screenname.valid" class="alert alert-danger">
            Screen Name is required
        </div>-->
    </div>

    <div class="form-group">
        <label for="pic">Picture</label>
        <!--<input class="form-control" type="text" required [(ngModel)]="model.picurl" ngControl="picurl" #picurl="ngForm">-->
        <input class="form-control" type="file" accept=".png,.jpg,.jpeg,.gif" (change)="filePicked($event)" ngControl="pic" #pic="ngForm">
        <div [hidden]="temporaryMissingFile" class="alert alert-danger">
            Picture is required
        </div>
    </div>

    <div class="form-group">
        <label for="caption">Caption</label>
        <input class="form-control" type="text" required [(ngModel)]="model.caption" ngControl="caption" #caption="ngForm">
        <!--<div [hidden]="caption.valid" class="alert alert-danger">
            Caption is required
        </div>-->
    </div>

    <div class="form-group">
        <label for="yearEvent">Year of event</label>
        <input class="form-control" type="number" required [(ngModel)]="model.yearEvent" ngControl="yearEvent" #yearEvent="ngForm">
        <!--<div [hidden]="caption.valid" class="alert alert-danger">
            Caption is required
        </div>-->
    </div>

    <loader *ngIf="loadingLovs">Loading category information...</loader>

    <div class="form-group" *ngIf="regionLov">
        <label for="region">{{regionLov.lovName}}</label>
        <select class="form-control" required [(ngModel)]="model.region" ngControl="region" #region="ngForm">
            <option *ngFor="#r of regionLov.values" [value]="r">{{r}}</option>
        </select>
        <!--<div [hidden]="feature1.valid" class="alert alert-danger">
            Feature is required
        </div>-->
    </div>

    <div class="form-group" *ngIf="stateLov">
        <label for="state">{{stateLov.lovName}}</label>
        <select class="form-control" required [(ngModel)]="model.state" ngControl="state" #state="ngForm">
            <option *ngFor="#s of stateLov.values" [value]="s">{{s}}</option>
        </select>
        <!--<div [hidden]="feature1.valid" class="alert alert-danger">
            Feature is required
        </div>-->
    </div>

    <div class="form-group" *ngIf="featureLovs">
        <label for="feature1">{{featureLovs[0].lovName}}</label>
        <select class="form-control" required (change)="feature1Picked($event)" ngControl="feature1" #feature1="ngForm">
            <option *ngFor="#f of featureLovs[0].values" [value]="f">{{f}}</option>
        </select>
        <!--<div [hidden]="feature1.valid" class="alert alert-danger">
            Feature is required
        </div>-->
    </div>

    <div class="form-group" *ngIf="featureLovs && featureLovs[1]">
        <label for="feature2">{{featureLovs[1].lovName}}</label>
        <select class="form-control" required [(ngModel)]="model.feature2" ngControl="feature2" #feature2="ngForm">
            <option *ngFor="#f of featureLovs[1].values" [value]="f">{{f}}</option>
        </select>
        <!--<div [hidden]="feature2.valid" class="alert alert-danger">
            Feature is required
        </div>-->
    </div>

    <div class="form-group" *ngIf="featureLovs && featureLovs[2]">
        <label for="feature3">{{featureLovs[2].lovName}}</label>
        <select class="form-control" required [(ngModel)]="model.feature3" ngControl="feature3" #feature3="ngForm">
            <option *ngFor="#f of featureLovs[2].values" [value]="f">{{f}}</option>
        </select>
        <!--<div [hidden]="feature3.valid" class="alert alert-danger">
            Feature is required !postForm.form.valid && 
        </div>-->
    </div>

    <button class="btn btn-default" type="submit" [disabled]="!postForm.form.valid || submitting">Submit</button>
    <button class="btn btn-default" [routerLink]="['PostList']">Cancel</button>

</form>